body,html
{
    margin: 0;
    padding: 0;
}
.container
{
    height: 100vh;
    width: 100vw;
    display: grid;
}
.align-center
{
    margin: auto;
}
#canvas
{
    border: black solid;
    background-image: url('../img/canvas_background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;




    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
#score
{
    position: absolute;
    top: 5%;
    left:5%;
    font-size: 2.5rem;
    font-style: bold;
    display: none;
}
