body,html
{
    margin: 0;
    padding: 0;
}
.container
{
    height: 100vh;
    width: 100vw;
    display: grid;
}
.align-center
{
    margin: auto;
}
#canvas
{
    border: black solid;
}
#score
{
    position: absolute;
    top: 5%;
    left:5%;
    font-size: 2.5rem;
    font-style: bold;
}