input[type=text]{
    background-image: var(--gradient);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    font-family: var(--fontfam);
    font-size: 3vw;
    border: 2px solid var(--invertedbackground);
    background-color: var(--background-color);
    color: transparent;
    width: 100%;
    text-align: center;
}


.startGameOrleave{
    display: grid;
    grid-template-columns: repeat(4, 250);
    grid-template-rows: repeat(4, 250);
    height: 100%;
    width: 100%;
    gap: 1vh;
    grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c";
}

#playername{
    grid-area: a;
    border-radius: 25px;
    width: 100%;
    margin-top: 2vh;
}

#chooseCharacter{
    grid-area: b;
    border-radius: 25px;
    padding: 2px 1px;
    border: 2px solid var(--invertedbackground);
    width: 100%;
}

.buttons{
    width: 100%;
    grid-area: c;
    align-items:center;
    align-content: center;
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "a b";
}



#startGame{
    justify-self: center;
    grid-area: b;
}

#backToMenu{
    justify-self: center;
    grid-area: a;
}