:root{
    --primary-color: #0000FF;
    --secondary-color: #FFAF00;
    --background-color: #000000;
    --invertedbackground: #FFFFFF;
}

a:link, a:visited {
    color:var(--invertedbackground);
    border-radius: 25px;
    background-color: transparent;
    padding: 14px 0px;
    text-align: center;
    font-size: 35px;
    width: 1000px;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
}

a:hover, a:active {
    color: transparent;
}

body{
    padding-top: 4em;
    background:var(--background-color);
    font-family: "Lucida Handwriting",Calligraphic,Arial;
}

.gradient-border{
    width: 1000px;
}



.main-wrapper{
    display: grid;
    justify-content: center;
    align-content: center;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
    text-align: center;
}

.links{
    margin-top:100px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.heading{
    font-size: 128px;
    }

@keyframes animate{
    0%{
            background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

